html {
    font-size: 100%;
  }
  body {
    color: #333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  }


/*-------------------------------------------
header
-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #969da3;
  }
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }
  
  .logo img {
    width: 250px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu li {
    position: relative;
    list-style: none;
  }
  
  .menu li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 30px;
  }
  
  /* 通常時は非表示 */
  .child_menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ebebeb;
    /* ドロップダウンメニューを透明化 */
    opacity: 0;
    /* 透明化だけではクリックできてしまうので以下も追記 */
    visibility: hidden;
    /* フェードで表示非表示される時間の指定 */
    transition: all 1s;
    width: 100%;
  }
  
  .dropdown {
    position: relative;
  }
  
  /* ナビゲーション下矢印部分 */
  .dropdown::after {
    content: '';
    position: absolute;
    top: 43%;
    right: 10px;
    transform: rotate(135deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  .dropdown:hover+.dropdown_menu,
  .dropdown_menu:hover {
    visibility: visible;
    opacity: 1;
  }
  
  .child_menu li {
    padding: 0;
  }
  
  .child_menu li a {
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #444;
    color: #444;
    font-size: 14px;
    font-weight: bold;
  }
  
  .child_menu li a:hover {
    background-color: #acacac;
  }
  